[submodule "dependencies/Reinforced_MVP_Developer"]
	path = dependencies/Reinforced_MVP_Developer
	url = https://github.com/Tushar1224/Reinforced_MVP_Developer.git
[submodule "dependencies/python-sdk"]
	path = dependencies/python-sdk
	url = https://github.com/tushar1224/python-sdk.git
[submodule "dependencies/jobspy-mcp-server"]
	path = dependencies/jobspy-mcp-server
	url = https://github.com/Tushar1224/jobspy-mcp-server.git
[submodule "dependencies/react-mcp"]
	path = dependencies/react-mcp
	url = https://github.com/Streen9/react-mcp.git
