[submodule "Reinforced_MVP_Developer"]
	path = Reinforced_MVP_Developer
	url = https://github.com/Tushar1224/Reinforced_MVP_Developer.git
[submodule "dependencies/Reinforced_MVP_Developer"]
	path = dependencies/Reinforced_MVP_Developer
	url = https://github.com/Tushar1224/Reinforced_MVP_Developer.git
[submodule "dependencies/python-sdk"]
	path = dependencies/python-sdk
	url = https://github.com/tushar1224/python-sdk.git
